<header>
    <h1>Budget Recipes</h1>
    <nav>
        <ul><a href="/recipes">Recipes</a></ul>
        <ul><a href="/products">Products</a></ul>
        <ul><a href="/stores">Stores</a></ul>
    </nav>
</header>